.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.img {
    width: 100px;
}  

.nav {
    display: flex;
    gap: 20px;
    list-style: none;
    
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0px 100px;
}

.search-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.restaurant-card-container {
    display: flex;
    flex-wrap: wrap;
}

.restaurant-card-details {
   background-color: beige;
   padding: 20px;
   margin: 20px;
   width: 200px;
}

.restaurant-card:hover {
    cursor: pointer;
    border: 1px solid #ccc;
}

.restaurant-card-img {
    width: 100%;
}


